.content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: $size__site-main;
}

.site-main {
	margin: 0;
	@include desktop {
		margin: 0 $size__site-sidebar 0 0;
	}
}

.site-content .widget-area {
	float: left;
	overflow: hidden;
	padding: 2em;
	width: 100%;
	background-color: #fff;
	color: #000;
	@include desktop {
		width: $size__site-sidebar;
		float: right;
	}
	input[type="search"], input {
		border-color: rgba($color: #000000, $alpha: 0.75);
	}
}

.site-footer {
	clear: both;
	width: $size__site-main;
}

@import "no-sidebar";
