// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/* .grid {
    grid-template-areas:
        "header header"
        "aside content"
        "footer footer";
} */
.sr-only {
    display: none;
}
.header-wrapper {
    padding: 1em;
}
.content-area, aside {
    margin: 0 auto;
    max-width: 100%; /* 1500px */
}
.site-content {
    margin-top: 80px;
    transition: filter 0.3s ease;
    &::before {
        content: "";
        display: block;
        top: 0px;
        left: -5px;
        position: fixed;
        background: rgba(0,0,0,0.65) none repeat scroll 0% 0%;
        z-index: 0;
        opacity: 0;
    }
}
.wrapper {
    background-color: #2e3141;
    margin: 6.5em 0;
    position: relative; 
}
/*--------------------------------------------------------------
## Hero
--------------------------------------------------------------*/
@import "primary/hero";
/*--------------------------------------------------------------
## Nostot
--------------------------------------------------------------*/
@import "primary/nostot";
@import "primary/cards";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";
