// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Media Queries
@mixin mobile {
	@media (max-width: #{$mobile-width }) {
		@content;
	}
}
@mixin tablet {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}
  
@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}


// After triangle
@mixin before-element {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	content: '';
	display: block;
	height: 5em;
	position: absolute;
	width: 100%;
	left: 0;
	top: -4.9em;
	transform: scale(1);
	background: $color__background-body;
	-clip-path: polygon(100% 0, 0 100%, 100% 100%);
	clip-path: polygon(100% 0, 0 100%, 100% 100%);
	@include desktop {
		height: 7em;
		top: -6.9em;
	}
}
@mixin after-element {
	@include before-element();
	top: initial;
	bottom: -4.9em;
	@include desktop() {
		height: 7em;
		bottom: -6.9em;
		top: initial;
	}
}

// padded container 
@mixin main-content {
	max-width: $size__site-main-max;
    padding: $container-padding;
	margin: 0 auto;
}
@mixin form-inputs {
	background: transparent;
	border: $thin-grey-border;
	border-radius: 3px;
}
//link Arrow
@mixin link-arrow {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	-moz-transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	border-radius: 100%;
	border: solid 2px rgba(255, 255, 255, 0.125);
	content: '\f105';
	display: inline-block;
	font-size: 1em;
	height: 2em;
	line-height: 1.65em;
	margin-right: 0.85em;
	text-align: center;
	text-indent: 0.15em;
	vertical-align: middle;
	width: 2em; 
}