$color__background-body: #2e3141;;
$color__background-header: #111;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: #0099cc;
$color__pink-bg: #ff1e5e;
$color__pink-dark: #d41e5b;
$color__link-hover: #e91f60;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input-focus: #5b6ba6;
$color__border-input: rgba(255, 255, 255, 0.125);
$color__border-abbr: #666;

$thin-grey-border: solid 2px rgba(255, 255, 255, 0.125);

$nosto_bg_1: #4c5c96;
$nosto_bg_2: #45558d;
$nosto_bg_3: #3f4e85;