.site-header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: $color__background-header;
    color: #ffffff;
    transition: transform 0.25s;
    z-index: 1;
    h1 {
        color: #ffffff;
    }

}
.site-header.is-visible {
    transform: translateY(0);
}
.site-header.is-hidden {
    transform: translateY(-100%);
}
.header-wrapper {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.site-branding {
    max-width: 50px;
}
@media screen and (min-width: 37.5em) {
    .header-wrapper {
        flex-direction: row;
    }
}