.front-page-posts {
    margin-top: 0em;
    @include desktop {
        margin-top: 0em;
    }
}
.flex-posts {
    width: 100%;
    max-width: $size__site-main-max;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: $container-padding;
    &::before {
        @include before-element;
        transform: scaleX(-1);
    }
    &:after {
        @include after-element;
        transform: scaleY(-1);
    }
    @include mobile {
        padding: 1em;
    }
}
.card {
    background-color: #353849;
    border-radius: 5px;
    margin: 1.5em 3em 1.5em 0;
    width: calc(50% - 1.5em);
    color: #ffffff;
    &:nth-child(2n) {
        margin-right: 0;
    }

    img {
        border-radius: 5px 5px 0 0;
        width: 100%;
        max-height: 260px;
    }
    h1 {
        border-bottom: $thin-grey-border;
    }
    .article-text {
        padding: 1em;
    }
    .article-link {
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.9em;
        &::before {
            @include link-arrow;
        }
    }


    @include tablet {
        margin: 1em 2em 1em 0;
        width: calc(50% - 1em);
    }
    @include mobile {
        width: 100%;
        margin: 1em;
        &:nth-child(2n) {
            margin-right: 1em;
        }  
    }
}
