.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.single .site-content {
	max-width: 1500px;
	margin: 0 auto;
	margin-top: 5em;
	@include desktop {
		margin-top: 10em;
	}
}
.single .site-main {
	padding: $container-padding;
	padding-top: 0;
	color: #fff; 
	background-color: $color__background-header;
}